*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: sans-serif;
}

.bg {
  background-color: #21282e;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.main-chart {
  width: 800px;
  min-width: 300px;
  height: 500px;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 8px 16px #222222;
}
