*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: sans-serif;
}

.bg {
  background-color: #21282e;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.bg.light {
  background-color: #f7faff;
}

.main-chart {
  width: 1200px;
  min-width: 300px;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 16px #222222;
}

.light .main-chart {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.animate-path {
  transition: all 0.3s;
}
